.main {
    width: 100%;
    height: 1390px;
    background-image: url('../../img/fon.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main__wrapper {
    width: 100%;
    height: 100%;
}

.main__info {
    margin: 340px 0 0;
}

.main__subheader {
    margin: 20px 0 60px;
}

@media screen and (max-width: 1200px){
    .main {
        height: 1190px;
    }
}

@media screen and (max-width: 992px){
    .main {
        height: 980px;
    }

    .main__info {
        margin: 240px 0 0;
    }
}

@media screen and (max-width: 768px){
    .main {
        height: 800px;
    }

    .main__info {
        margin: 170px 0 0;
    }

    
    .main__subheader {
        margin: 15px 0 40px;
    }
}

@media screen and (max-width: 576px){
    .main {
        height: 700px;
    }

    .main__info {
        margin: 180px 0 0;
    }

    .main__subheader {
        margin: 15px 0 35px;
    }
}

@media screen and (max-width: 320px){
    
}







